section {
    display: flex; /* Flexbox implementation */
    flex-direction: column; /* Vertical alignment for rows */
    gap: 2rem;
    width: 50%;
    
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.num_disp {
    display: flex;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    min-width: 0; 
    border-radius: 1rem;
}

.row1, .row2, .row3 {
    display: flex;
    gap: 1rem;
    
}

/* Custom CSS Requirement: Background and font styling */
body {
    background-color: #4ed5e4;
    font-family:'Times New Roman', Times, serif;
}